#linkresolver li {
	margin-bottom: 12px;
}
li a.article {
	background-color: blue;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
}
li a.database {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
li span.dates,
li small {
	color: #575757;
	display: inline-block;
	font-size: 14px;
}